*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor2: #8C1F1F;
  --cor3: #731A1A;
  --cor4: #401313;
  --cor5: #0D0D0D;
  --white: #ffffff;
}

html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--cor5);
  position: relative;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  background-color: var(--cor3);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#form {
  width: 100%;
}

.search {
  background-color: transparent;
  border: .3rem solid var(--cor4);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.6rem;
  color: var(--white);
  width: 100%;
}

.search:focus {
  outline: none;
  background-color: var(--cor4);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  position: relative;
  background-color: var(--cor4);
  width: 30rem;
  box-shadow: 0 .4rem .5rem rgb(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: .3rem;
  margin: 2rem;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem 1rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

.movie-info span {
  background-color: var(--cor2);
  padding: 0.25rem 0.5rem;
  border-radius: 50% 0 50% 0;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(250, 94, 94);
}

.overview {
  background-color: var(--white);
  position: absolute;
  left: 0;  
  right: 0;
  bottom: 0;
  padding: 2rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform .3s linear;
  font-size: 1.2rem;
}

.movie:hover .overview {
  transform: translateY(0);
}


.menu {
  background-color: var(--cor2);
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3rem;
  color: #ffffff;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}

.menu:hover {
  transform: scale(1.2);
}

.menu.home {
  opacity: 100;
  z-index: 1;
  bottom: 8.5rem;
  transition: all .3s ease-in;
}

.menu.home.close {
  z-index: -5;
  opacity: 0;
  bottom: 2rem;
  transition: all .3s ease-in;
}

.menu.up {
  opacity: 100;
  z-index: 1;
  bottom: 15rem;
  transition: all .3s ease-in;
}

.menu.up.close {
  z-index: -10;
  opacity: 0;
  bottom: 2rem;
  transition: all .3s ease-in;
}